POSTGRES_PASSWORD=your_pass
POSTGRES_USER=your_user
POSTGRES_DB=your_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

RABBITMQ_USER=rabbit_user
RABBITMQ_PASSWORD=rabbit_pass
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

RABBITMQ_DEFAULT_USER=rabbit_user
RABBITMQ_DEFAULT_PASS=rabbit_pass
RABBITMQ_DEFAULT_VHOST=/